<div class="container box-info mt-5">
    {{#each artist}}
    <div class="row">

        <div class="col-md-7">
            <h1>{{name}}</h1>
        </div>
        <div class="col-md-5">
            <img src="{{images.0.url}}" alt="">

        </div>
    </div>
    {{/each}}
    <a href="#"><button>create event</button></a>
</div>