<link rel="stylesheet" href="/stylesheets/index.css">

<div class="container box-index">
    <div class="row">
        <h1>What are U looking for?</h1>
    </div>
</div>
<div class="carousel-container">
    <h5>Upcoming Events</h5>
    <br>
    <div class="carousel">
        {{#each allEvents}}

        <a href="">
            <div class="index-event">
            </div>
        </a>
        <a href="event/{{_id}}"><img src="{{image}}" alt="event-img"></a>



        {{/each}}
    </div>
</div>