<div class="container mt-5 box-info">
    <div class="row">
        <h1>{{appTitle}} 🚀</h1>
        <p>Welcome Ironhacker!</p>

    </div>
</div>

{{!-- SEARCH BAR --}}
<div class="container">
    <div class="row">

        <div class="search-index">
           
            <form class="d-flex search-box-index">
                <input class="form-control  me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            
        </div>
    </div>
</div>