{{!-- <div class="container mt-5 box-info">
    <div class="row">
        <h1>{{appTitle}} 🚀</h1>
        <p>Welcome Ironhacker!</p>

    </div>
</div> --}}

<div class="container box-index">
    <div class="row">
        <h1>What ar U looking for?</h1>
    </div>
</div>


{{!-- SEARCH BAR --}}
{{!-- <div class="container mt-3">
    <div class="row">

        <div class="search-index">

            <form action="/artist/:id" method="POST" class="center-all">
                <div>
                    <input type="text" class="form-control artist-signin-form-name mt-5" id="name" name="name"
                        placeholder="Your Favorite Artist">
                </div>
                <button type="submit" class="btn btn-primary mt-4 user-signin-btn">SEARCH</button>
            </form>

        </div>
    </div>
</div> --}}