<link rel="stylesheet" href="/stylesheets/community.css">

<div class="container">
    <h4>Community</h4>
    <hr>
    <div class="container  box-community mt-5 p-2">
        {{#each filteredByUser}}
        <div class="row card-rainbow-community">
            <div class="card2-community">
                <div class="col-md-6" style="justify-content: center">
                    <img class="rounded-circle profile-border" src="{{image}}"
                        style="width: 150px; height: 150px; padding: 10px; object-fit: cover;" />
                </div>
                <div class="col-md-6">
                    <a class="link-community" href="/user/{{id}}">
                        <p>{{username}}</p>
                    </a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

</div>