<link rel="stylesheet" href="/stylesheets/community.css">

<div class="row card-rainbow center-vertically box-community mt-5 p-2">
    <div class="card2 col-user-profile">
        {{#each user}}
        <div class="row">
            <div class="col-md-8">
                <h1><strong>{{username}}</strong></h1>
            </div>
            <div class="col-md-4">
                <img src="{{image}}" alt="img-profile" class="friends-round">
                <form action="/community/{{_id}}/follow" method="POST">
                    <input type="text" class="form-control mt-3 form-box" style="display: none" id="id" name="id"
                        value="{{_id}}">
                    <button type="submit" class="user-signin-btn">Follow</button>
                </form>
            </div>
            {{/each}}
        </div>
    </div>
</div>