/* From uiverse.io by @Tiagoadag */
.card-rainbow-community {
    height: 450px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
    display: flex;
} */

.card2-community {
    height: 450px;
    background-color: #484848;
    border-radius: 20px;
    transition: all .2s;
    display: flex;
}


 .card2-community:hover {
    transform: scale(0.98);
    border-radius: 20px;
}

.card-rainbow-community:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.box-community {

    width: 80%;
    margin: auto;
    color: white;
}

.user-signin-btn {
    margin: 20px 0;
} 