/* From uiverse.io by @Tiagoadag */
.card-rainbow-community {
    height: 200px;
    margin-left: 40px;
    margin-bottom: 30px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
    display: flex;
    float: left;
}

.card2-community {
    height: 200px;
    width: 100%;
    background-color: #484848;
    border-radius: 20px;
    transition: all .2s;
    display: flex;
    flex-direction: column;
    /* float: left; */
}


.card2-community:hover {
    transform: scale(0.98);
    border-radius: 20px;
}

.card-rainbow-community:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.box-community {

    width: 100%;
    margin: auto;
    color: white;
}

.user-signin-btn {
    margin: 20px 0;
}

.link-community {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding-top: 10px;
    text-align: center;
}

h4 {
    color: white;
    font-family: 'Syncopate', 'sans-serif';
    font-size: 2rem;
    margin-top: 50px;
}