body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: rgb(63, 63, 63);
}

#errorMessage {
    background-color: rgb(255, 202, 202);
    text-align: center;
}

img {
    width: 100%;
}

hr {
    color: #17C3B2;
}

.syncopate {
    font-family: 'Syncopate', sans-serif;
}


/* NAVBAR */

.navbar-img {
    width: 250px;
}

.navbar {
    padding: 15px 60px;
}


.dropdown-toggle::after {
    display: none;

}

.navbar-icon {
    color: #17C3B2;
    display: block;
    margin-right: 50px;

}

/* OFFCANVAS */
.form-box-white {
    border: none;
    border-radius: 0%;
    border-bottom: 2px solid #17C3B2;
}

.center-all-top {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: rgb(63, 63, 63)
}


/* USER PROFILE */
.img-profile-user {
    width: 100%;
    height: 300px;
    border-radius: 50%;
    margin-left: 100px;
}

.box-info-user {
    width: 80%;
    height: 500px;
    color: white;
    margin: auto;
    font-size: 1.2em;
}

.profilePic-edit {
    width: 50%;
}

.box-info-edit {
    width: 80%;
    height: 600px;
    margin: auto;
}

.bi-pencil-fill {
    color: white;
    cursor: pointer;
}

.genres-btn {
    border: 2px solid #17C3B2;
    text-align: center;
    padding: 5px 25px;
    border-radius: 20px;
    margin-right: 20px;
    font-size: 0.8em;
    width: auto;
}

.col-user-profile {
    padding: 20px;


}

.friends-round {
    border-radius: 50%;
    height: 85px;
    width: 85px;
}

.event-scroll {
    /* font-family: syncopate; */
    text-decoration: none;
    color: white
}

.event-scroll:hover {
    color: #17C3B2
}

.carousel-container {
    width: 80%;
    color: white;
    margin: auto;
}

.carousel-container h5 {
    font-family: 'Syncopate', sans-serif;
}

.carousel {
    height: 200px;
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
}

.carousel a {
    display: block;
}

.carousel img {
    width: 150px;
    flex: 50 0 100%;
    object-fit: cover;
    scroll-snap-align: center;
    border: 2px solid black;
}

.carousel2 {
    /* height: 200px; */
    display: flex;
    /* margin-right: 100px; */
    flex-direction: row;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
}

.carousel2 div {
    width: 200px;
    margin-right: 20px;
    /* flex: 50 0 100%; */
    object-fit: cover;
    scroll-snap-align: center;
}



/* ARTIST PROFILE */

.box-info {
    width: 90%;
    height: 600px;
    margin: auto;
    color: white;

}

.box-info p {
    font-size: 1.3em;

}

.img-profile-artist {
    width: 80%;
}

hr {
    color: #17C3B2;


}

iframe {
    background-color: red;
    width: 100%;
    margin-top: 20px;
}

/* FOOTER */
footer {
    background-color: #212529;
    width: 100%;
    color: #17C3B2;
    clear: both;
    bottom: 0;
}

.footer-aboutUs-list {
    list-style: none;
    font-size: 0.8em;
}



/* USER SIGN IN*/
.big-title {
    color: white;
}

.profilePic {
    border-radius: 50%;
}

.form-box {
    border: none;
    border-radius: 0%;
    border-bottom: 2px solid #17C3B2;
    background-color: rgb(63, 63, 63);
}

.form-box-border {
    border: 2px solid #17C3B2;
    border-radius: 0%;
    background-color: rgb(63, 63, 63);
}

.form-label-white {
    color: white;
}

.col-signin-user input {
    color: #17C3B2;
}

.pen-edit-picture {
    position: relative;
}

.user-signin-btn {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.user-signin-btn:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.user-signin-btn:active {
    transform: translateY(-1px);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.center-horizontally {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.center-vertically {
    display: flex;
    justify-content: center;
}

/* FAVOURITE GENRES */
.center-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-big-title {
    width: 65%;
    text-align: center;
}

.form-select-genres {
    width: 500px;
    height: 200px;
}

/* ARTIST SIGN IN*/
.artist-signin-form-name {
    width: 500px;
    border: none;
    border-radius: 0%;
    border-bottom: 2px solid #17C3B2;
    background-color: rgb(63, 63, 63);
    text-align: center;
    font-size: 2.5em;
}

.signin-artist-text {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
}


/* TEXT SIGN */

.text-sign {
    color: white;

}

/* EVENTS */
.event-hero {
    background-image: url('./../images/festival-bg.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.event-text {
    font-family: 'Syncopate', sans-serif;
    color: white;
    font-size: 30px;
}


/* .scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
} */

.artist-card {
    background-color: #212529;
    color: #fff;
    border: 2px solid #17C3B2;
    height: 200px;
    display: flex;
}

.round-followers {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #17C3B2;
}

.scrolling-wrapper2 {
    overflow-x: hidden;
    overflow-y: scroll;
    /* white-space: nowrap; */
}

.login-image {
    background-image: url('./../images/concert_.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

/* ############## */
/* DESINSTALAR EL NODE MODULES */
/* ############## */